body {
    margin:0;
}
.wrapper {
    margin: 0 15%
}
.hero {
    background-color: #1f2937;
    padding: 1em
} 
.hero header {
    display:flex;
}

.hero header .logo{
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.menu {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 1em;
}

.menu, .left .text {
    font-size: 18px;
    color: #e6e7eb;
}

.hero .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
    margin-top: 7%;

}

.left {
    flex-wrap: wrap;
    max-width: 26em;
}
.left .title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.signup {
    background-color: #3882f6;
    color: white;
    padding: 0.5em 2em;
    margin-top: 1em;
}

.banner .img {
    color: white;
    background-color: grey;
    flex-grow: 1;
}

.info {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7%;
}

.info .title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-top: 4%;
    margin-bottom: 4%;
}
.info .img-series {
    display:flex;
    gap: 2em;
}
.img-text-set .img {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 15px;
}
.img-text-set .text {
    font-size: 18px;
    color: grey;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
}

.quote {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7%;
    background-color: #e5e7eb;
    
    
}

.quote .text{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    flex-wrap: wrap;
    max-width: 21em;
    position: relative;
}

.quote .ascription {
    font-weight: 800;
    color: black;
    position: absolute;
    right: 0;
    bottom: -25px;
    text-align: right;
    font-size: 18px;
}

.banner-button {
    display:flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display:flex;
    background-color: #3882f6;
    margin: 100px;
    padding: 40px 120px;
    border-radius: 10px;
    gap: 120px;
    box-sizing: border-box;
}

.banner .text {
    color: white;
}

.text .main {
    font-weight: 700;
    font-size: 24px;
}